<div style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
    <p style="font-family: inherit;font-size: 35px;font-weight: 600;text-transform: capitalize;">About Us</p>
    <div style="height: 8px;width: 90px;background-color:#cdf1d8;display: flex;align-items: center;border-radius: 90px;margin-top: -15px;">
        <div id="animations"></div>
    </div>
</div>

<div id="another" style="display: flex;justify-content: space-around;padding: 20px;align-items: center;">
    <img src="https://milkmanapps.com/asset/home/img/aboutinfo.png" alt="">
    <div style="display: flex;flex-direction: column;">
        <p style="width: 600px;height: auto;">We are a group of technology enthusiasts who love solving business
            problems using technology and happen to have stumbled upon the world of DAIRY. We know that software
            development can be a painful task, especially if you are a business owner, and know nothing about coding.
            And, in case you are a dairy startup or a farm fresh milk brand trying to manage complete operations on
            excel. We know your pain too. After all, we have been there and have done that!</p>
        <p style="width: 600px;height: auto;">That is why we developed - Mr.Milkman : A platform for dairies or milk
            brands to help you get rid of that painful task of using excel to do just about everything.</p>
        <p style="width: 600px;height: auto;">With Mr.Milkman, everything just happens without you having to lift a
            finger. (Figuratively!)</p>
    </div>
</div>