<div style="background-color: rgb(246, 246, 246);">
    <div style="display: flex;padding: 15px;justify-content: space-around;gap: 10px;flex-wrap: wrap;">
        <div *ngFor="let i of product"
            style=" position: relative;border: 1px solid grey;width: 300px;background-color: white;border: 2px solid black;border-radius: 5%;display: flex; flex-direction: column; align-items: center;">
            <img [src]="i.image" alt="" width="200px" height="200px">
            <div style="text-align: center;">
                <p style="font-size: 13px;">{{i.name}}</p>
                <p style="font-size: 10px;">₹{{i.price}}</p>
                <p style="font-size: 10px;">{{i.gram}}</p>
                <div class="d-flex justify-end mr-2">
                    <button (click)="chngecolor()" (click)="color1='red'"><span [style.color]='color1' class="material-symbols-outlined" style="position: absolute; right: 15px; bottom: 15px; z-index: 99;">
                            favorite
                        </span></button>
                </div>
            </div>
        </div>
    </div>
</div>