<div style="background-color: rgb(246, 246, 246);padding: 10px 0px;">
    <div style="width: 95%;margin: auto;margin-top: 10px;" id="gallery" class="relative w-full" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img style="width: 100%;"
            src="https://image.shutterstock.com/image-photo/various-dairy-products-260nw-627224804.jpg" alt="">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item="active">
          <img
            src="https://img.freepik.com/free-photo/ghee-clarified-butter-jar-wooden-table-ai-generative_123827-24203.jpg?w=1380&t=st=1700130250~exp=1700130850~hmac=d8e576ec58dc9cb083d3dc6b39c91005ce8e6e42d5098d8c4b10b9b22e62a677"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="https://img.freepik.com/free-photo/front-view-delicious-fresh-cheese_23-2150166967.jpg?w=1380&t=st=1700130444~exp=1700131044~hmac=8a6f83fab7d65d6ab4a058190d8ffbd3f433794fdf6907cd928017d5e62929b2"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="https://img.freepik.com/free-photo/variety-cheeses-are-table_1340-23396.jpg?t=st=1700130477~exp=1700134077~hmac=95ad41dc990249c962184c6798ec5c2ce00f24b35bd5505ebf1e57a51026a254&w=1380"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src="https://img.freepik.com/free-photo/top-view-woman-eating-yogurt-bowl-with-wooden-spoon-olives-black-bread-wooden-background_141793-52123.jpg?w=1060&t=st=1700131238~exp=1700131838~hmac=6ce425c5a62487d94ac063d88a3c2e4201c50742bb99e43a033850b322b5d4f3"
            class="absolute block max-w-full h-auto -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="">
        </div>
      </div>
      <!-- Slider controls -->
      <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 1 1 5l4 4" />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 9 4-4-4-4" />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  
    <div style="background-color: white;width: 95%;margin: auto;border-radius: 20px;margin-top: 20px;">
      <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 10px 0px;">
        <p style="font-size: 35px;">We are bringing Naturel & Fresh back</p>
        <p>Better everyday health begins with the basics. We ensure everything in your kitchen has been thoroughly tested
          for purity and freshness.</p>
      </div>
      <div>
        <div style="display: flex;">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqwyqdB1GMPJo08jz-H6enMq5nZ9Yopg-RYHR6fQK5jSBPBD1Y9s2TuqOGZ2iGPGwNz38&usqp=CAU"
            alt="">
          <p>Milk</p>
        </div>
      </div>
    </div>
    <h2
      style="display: flex;text-align: center;justify-content: center;font-family: 'Lily Script One', cursive;font-size: 48px;font-weight: 500;">
      OUR PRODUCTS</h2>
    <div style="display: flex;justify-content: space-around;margin-top: 20px;">
      <div style="border: 1px solid grey;width: 200px;height: 220px;">
        <img src="https://imagedelivery.net/F5KOmplEz0rStV2qDKhYag/4726fdbd-35fe-41a0-0638-96d5cad1a500/tn" alt="">
        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;text-align: center;">COW MILK</p>
      </div>
      <div style="display: flex;">
        <div style="border: 1px solid grey;width: 200px;height: 220px;">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4O91w75bbjLv8IWhUpyKZ3O1vKwOtXQV_rg&usqp=CAU"
            alt="">
          <p style="font-family: Verdana, Arial, Helvetica, sans-serif;text-align: center;">BUFFALO MILK</p>
        </div>
        <div>
          <button routerLink="/product" style="margin-top: 80px;margin-left: 80px;" type="button"
            class="btn btn-outline-primary">Show More</button>
        </div>
      </div>
    </div>
    <hr>
    <div style="width: auto;height: 50px;display: flex;font-size: 25px;justify-content: end;gap: 10px;padding: 10px;">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-whatsapp"></i>
      <i class="fa-brands fa-twitter"></i>
    </div>
  </div>