<div style="background-color: rgb(246, 246, 246);padding: 10px 0px;">
<div style="width: 95%;margin: auto;margin-top: 30px;height: 500px;"  id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height: 500px;width: 400px;border-radius: 10px;object-fit: cover;" src="https://img.freepik.com/free-photo/front-view-delicious-fresh-cheese_23-2150166967.jpg?w=1380&t=st=1700130444~exp=1700131044~hmac=8a6f83fab7d65d6ab4a058190d8ffbd3f433794fdf6907cd928017d5e62929b2" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 500px;width: 400px;border-radius: 10px;object-fit: cover;" src="https://image.shutterstock.com/image-photo/various-dairy-products-260nw-627224804.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img style="height: 500px;width: 400px;border-radius: 10px;object-fit: cover;" src="https://img.freepik.com/free-photo/variety-cheeses-are-table_1340-23396.jpg?t=st=1700130477~exp=1700134077~hmac=95ad41dc990249c962184c6798ec5c2ce00f24b35bd5505ebf1e57a51026a254&w=1380" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div style="background-color: white;width: 95%;margin: auto;border-radius: 20px;margin-top: 30px;">
    <div style="display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 10px 0px;">
      <p style="font-size: 35px;font-family: Poppins,sans-serif!important;font-weight: 600;text-align: center;">We are bringing Naturel &
        Fresh back</p>
      <p style="font-size: clamp(12px, 1vw, 14px);font-weight: 500;font-family: Poppins, sans-serif; color: #798483;text-align: center;">
        Better everyday health begins with the basics. We ensure everything in your kitchen has been thoroughly tested
        for purity and freshness.</p>
    </div>
    <div style="display: flex;gap: 10px;margin: 20px;justify-content: space-between;flex-wrap: wrap;">
      <div style="display: flex;flex-direction: column;gap: 5px;">
        <i style="font-size: 100px;text-align: center;" class="fa-solid fa-cow"></i>
        <p style="font-family: Poppins,sans-serif!important;font-weight: 600;margin: 0%;text-align: center;">Miling
          Twice a Day</p>
        <p style="width: 300px;height: 70px;font-family: Poppins,sans-serif!important;text-align: center;">We source
          milk from farmers on the outskirts of your city for complete freshness and purity</p>
      </div>
      <div style="display: flex;flex-direction: column;gap: 5px;">
        <i style="font-size: 100px;text-align: center;" class="fa-solid fa-flask-vial"></i>
        <p style="font-family: Poppins,sans-serif!important;font-weight: 600;margin: 0%;text-align: center;">100+ Tests
          Everyday</p>
        <p style="width: 300px;height: 70px;font-family: Poppins,sans-serif!important;text-align: center;">We quality
          test all milk for adulteration every single day</p>
      </div>
      <div style="display: flex;flex-direction: column;gap: 5px;">
        <i style="font-size: 100px;text-align: center;" class="fa-solid fa-temperature-arrow-up"></i>
        <p style="font-family: Poppins,sans-serif!important;font-weight: 600;margin: 0%;text-align: center;">
          Pasteurization & Packing at 4°C</p>
        <p style="width: 300px;height: 70px;font-family: Poppins,sans-serif!important;text-align: center;">Maintaining
          milk at 4°C improves its shelf life and prevents harmful bacteria growth</p>
      </div>
      <div style="display: flex;flex-direction: column;gap: 5px;">
        <i style="font-size: 100px;text-align: center;" class="fa-solid fa-truck"></i>
        <p style="font-family: Poppins,sans-serif!important;font-weight: 600;margin: 0%;text-align: center;">Assured 7
          AM Doorstep Delivery</p>
        <p style="width: 300px;height: 70px;font-family: Poppins,sans-serif!important;text-align: center;">Fresh Milk
          reaches your doorstep within few hours of milking</p>
      </div>
    </div>
  </div>
  <p style="font-size: .875rem;font-weight: 600;font-family: Poppins,sans-serif!important;padding: 10px 10px 8px 50px;">How we make it work for you</p>
  <div
    style="background-color: white;width: 95%;margin: auto;border-radius: 20px;margin-top: 20px;display: flex;padding: 40px;justify-content: center;flex-wrap: wrap;">
    <div style="display: flex;">
      <img width="200px" height="200px"
        src="https://png.pngtree.com/png-vector/20190623/ourmid/pngtree-documentfilepagepenresume-flat-color-icon-vector-png-image_1491048.jpg"
        alt="">
      <div style="display: flex;flex-direction: column;align-items: center;justify-content: center;">
        <p style="width: 400px;">Modify your order till 12 midnight for next day early morning delivery of fresh cow and
          buffalo milk</p>
        <p style="width: 400px;">We source cow milk, buffalo milk, yogurts, eggs, and all other essentials fresh from
          the best farms in India. After quality testing at farms and then in our labs, we deliver all your daily needs
          without preservatives or mixing</p>
      </div>
      <div style="border:1px dotted rgb(176, 170, 170);height: 200px;width: 0px;margin-left: 50px;"></div>
      <div style="display: flex;flex-direction: column;justify-content: center;margin-left: 100px;">
        <div style="display: flex;gap: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-check"
            viewBox="0 0 16 16">
            <path
              d="M11.354 6.354a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
            <path
              d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
          </svg>
          <p style="font-family: Poppins,sans-serif!important;font-weight: 600;    font-size: .875rem;">
            Order fresh milk & groceries daily
          </p>
        </div>
        <div style="display: flex;gap: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-file-earmark-easel-fill" viewBox="0 0 16 16">
            <path d="M5 7.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5v-2z" />
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM8.5 6h2A1.5 1.5 0 0 1 12 7.5v2a1.5 1.5 0 0 1-1.5 1.5h-.473l.447 1.342a.5.5 0 0 1-.948.316L8.973 11H8.5v1a.5.5 0 0 1-1 0v-1h-.473l-.553 1.658a.5.5 0 1 1-.948-.316L5.973 11H5.5A1.5 1.5 0 0 1 4 9.5v-2A1.5 1.5 0 0 1 5.5 6h2a.5.5 0 0 1 1 0z" />
          </svg>
          <p style="font-family: Poppins,sans-serif!important;font-weight: 600;    font-size: .875rem;">
            Set a customized subscription plan
          </p>
        </div>
        <div style="display: flex;gap: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-calendar2-date" viewBox="0 0 16 16">
            <path
              d="M6.445 12.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
            <path
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
          </svg>
          <p style="font-family: Poppins,sans-serif!important;font-weight: 600;    font-size: .875rem;">
            Use vacation mode for skipping deliveries
          </p>
        </div>
        <div style="display: flex;gap: 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet2"
            viewBox="0 0 16 16">
            <path
              d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z" />
          </svg>
          <p style="font-family: Poppins,sans-serif!important;font-weight: 600;    font-size: .875rem;">
            Grab exciting offers for big saving
          </p>
        </div>
      </div>
    </div>
  </div>
  <p style="padding: 10px 10px 8px 50px;font-family: Poppins,sans-serif!important;font-weight: 600;font-size: .875rem;">Farm to Home, Every Day</p>
    <div>
    
    </div>
  <h2
    style="display: flex;text-align: center;justify-content: center;font-family: 'Lily Script One', cursive;font-size: 48px;font-weight: 500;margin-top: 20px;">
    OUR PRODUCTS</h2>
  <div style="display: flex;justify-content: space-around;margin-top: 20px;">
    <div style="border: 1px solid grey;width: 200px;height: 220px;">
      <img src="https://imagedelivery.net/F5KOmplEz0rStV2qDKhYag/4726fdbd-35fe-41a0-0638-96d5cad1a500/tn" alt="">
      <p style="font-family: Verdana, Arial, Helvetica, sans-serif;text-align: center;">COW MILK</p>
    </div>
    <div style="display: flex;">
      <div style="border: 1px solid grey;width: 200px;height: 220px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4O91w75bbjLv8IWhUpyKZ3O1vKwOtXQV_rg&usqp=CAU"
          alt="">
        <p style="font-family: Verdana, Arial, Helvetica, sans-serif;text-align: center;">BUFFALO MILK</p>
      </div>
      <div>
        <button routerLink="/product" style="margin-top: 80px;margin-left: 80px;" type="button"
          class="btn btn-outline-primary">Show More</button>
      </div>
    </div>
  </div>
  <hr>
  <div style="width: auto;height: 50px;display: flex;font-size: 25px;justify-content: end;gap: 10px;padding: 10px;">
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-whatsapp"></i>
    <i class="fa-brands fa-twitter"></i>
  </div>
</div>