<div class="px-2 h-[100vh] overflow-hidden" id="main" [ngStyle]="service.backgroundblur">

    <header class="bg-white py-4 px-3 flex items-center justify-between w-full">
        <div class="flex items-center">
          <p routerLink="" class="text-black text-2xl font-bold">Your Logo</p>
        </div>
        <div class="hidden md:flex items-center">
          <a routerLink="" class="text-black px-3 py-2 focus:text-blue-500 rounded-md">Home</a>
          <a routerLink="/about" class="text-black px-3 py-2 focus:text-blue-500 rounded-md">About</a>
          <a routerLink="/product" class="text-black px-3 py-2 focus:text-blue-500 rounded-md">Products</a>
          <a routerLink="/details" class="text-black px-3 py-2 focus:text-blue-500 rounded-md">Details</a>
        </div>
        <div class="block md:hidden">
          <button class="hover:bg-teal-800 focus:ring-4 focus:ring-teal-300 font-bold py-2 px-4 rounded-full">
            <svg class="fill-current w-6 h-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
      </header>

    <div (click)="service.closepopup()" class="main flex flex-col  items-center md:flex-row w-100% p-0 gap-2">
        <div id="contener" class="">
            <img class="w-[50vh] h-auto rounded-[1.25rem]" src="../../assets/image 2.jpg" alt="image">
        </div>
        <div class="px-[5%] py-4 w-40%">
            <p class="font-bold text-[18px]">The Complete Meal</p>
            <p class="text-14 font-normal  text-[12px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="mt-[10px]" id="content">
                <p class="text-[18px] font-bold">Content</p>
                <div class="flex gap-[20px]">
                    <div class="text-[1rem] mt-[5px] gap-10">
                        <div class="flex gap-[10px]">
                            <img class="w-23 h-23" src="../../assets/Group.png" alt="">
                            <p>Bhakri x 2</p>
                        </div>
                        <div class="flex mt-[10px] gap-[10px]">
                            <img class="w-23 h-23" src="../../assets/Vector.png" alt="">
                            <p>Pitla (For 1)</p>
                        </div>
                    </div>
                    <div class="text-[1rem] mt-[10px] gap-10">
                        <div class="flex gap-[10px]">
                            <img class="w-23 h-23" src="../../assets/Group 9.png" alt="">
                            <p>Thecha</p>
                        </div>
                        <div class="flex mt-[10px] gap-[10px]">
                            <img class="w-23 h-23" src="../../assets/Vector (1).png" alt="">
                            <p>Onion</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="order_now" class="mt-[20px]">
                <div>
                    <p class="text-[18px] font-bold">Price</p>
                    <p class="text-[20px] -mt-[5px] font-bold">₹100</p>
                </div>
            </div>
        </div>
    </div>


    <div class="flex items-start h-3 justify-center active:opacity-90 mt-[30vh] pb-3.5 bottom-10 sticky">
        <button (click)="service.changeStyle()"
            class="text-[1rem] h-[40px] font-medium text-orange-50 w-[150px] bg-blue-500 rounded-3xl">Order
            Now</button>
    </div>
</div>